/*Коментарии в css файлах */
/* Так же Contr+/ */
/* Общие стили */


*{
    box-sizing: border-box;
}
/* Селекторы */
body {
    /* свойство:значение  */
    background:rgb(229, 245, 245,);
    color: #441e46;
    font-size: 20px;
    margin: 0;

}
header{
    background: rgb(132, 248, 238, 0.3);
}
footer{
    background: lightblue;
}

img {
    width: 100%;
    height: auto;
}

a{
    text-decoration: none ;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Селектор класса */
.container {
max-width: 1000px; /* 960 -1200 */
margin: 0 auto; /* Центировать элемент  */

}

.find-friends{
    display: none;
}
.up-button{
    /* Позиционирование */
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: orangered;
    border-radius: 50%;
}

/* menu  */
.menu a{
    color: #695753;
    border-right: 1px solid #b19891;
    display: block;
    padding: 16px 0;
}
.menu li:last-child a { 
    border-right: none;
}
.content-center{
    text-align: center;
}
.submenu a{
    border-top: 1px solid #b19891;
    border-right: none;
}

/* footer  */
footer input{
    margin: 10px 0;
}

/* MODAL AUTH */

.modal{
    position: absolute;
    left: 33%;
    background: lightblue;
    padding: 30px;
}
.modal:target{
    top: 50%;
}
.modal:not(:target) {
    top: -50%;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}